
/RevitAddinFromNice3PointTemplate/RevitAddIn1/bin
/RevitAddinFromNice3PointTemplate/RevitAddIn1/obj
/L2 HelloWorld/HelloWorld/obj
/L2 HelloWorld/HelloWorld/bin
/L2 HelloWorld/HelloWorld/.vs
/RevitAddinFromNice3PointTemplate/RevitAddIn1/.vs
/RevitAddinFromNice3PointTemplate/RevitAddIn1/.vs
